@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-width {
    max-width: 1600px;
    margin: 0 auto;
}


.main-container {
    background-color: #1A0B2E;
    /* border: 1px solid red; */
}

.section-width {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navigation {
    color: #FFFFFF;
    font-size: 2.1rem;
}

.nav-wave {
    background: linear-gradient(to bottom, #DB07C8, #DB07C8, rgba(202, 223, 9, 0.481));
    color: transparent;
    background-clip: text;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.icon-nav {
    color: aliceblue;
    display: none;
}

.nav-btn {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(30deg, rgb(247, 251, 19), rgb(208, 4, 160), rgb(4, 31, 187));
}

.line-nav {
    background-color: #383636;
    border: none;
    height: 1px;

}










.back-first-img {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.cir-bac-img{
    position: absolute;
    z-index: 1;
    top: 85%;
}

.micro-img{
    position: absolute;
    z-index: 2;
    top: 175%;
}

.new{
    position: absolute;
    z-index: 3;
}


.cir-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.micro-img {
    position: absolute;
}

.new {
    color: #FFFFFF;
    position: absolute;

    padding: 8px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(8, 182, 34);
    border-radius: 20px;
    border: none;
    color: black;
    top: 120px;
    right: 580px;
}



.main-item {
/* padding-top: 25%; */
text-align: center;
padding-top: 380px;
    
}

.main-item>h1 {
    font-weight: 800;
    font-size: 3.5rem;
    color: #FFFFFF;
}

.main-item-p {
    font-size: 1rem;
    color: #b0acac;
    font-weight: 400;
    padding-bottom: 24px;
}

.main-btn {
    padding: 12px 20px;
    background: linear-gradient(30deg, rgb(247, 251, 19), rgb(208, 4, 160), rgb(4, 31, 187));
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    color: #FFFFFF;
    margin-right: 10px;
}

.main-btn2 {
    padding: 12px 20px;
    background-color: #b0acac00;
    border: 1px solid green;
    border-radius: 30px;
    font-size: 1rem;
    color: #FFFFFF;
}

.icon-main {
    margin-right: 5px;
}

.icon-main2 {
    margin-right: 5px;
    color: #07db40;
}







.Podcast-item {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    max-width: 1200px;
}

.Podcast-item-menu {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.Podcast-item-menu-ber {
    font-size: 1rem;
    line-height: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    color: #FFFFFF;
}





.card-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    padding-bottom: 80px;
}

.main-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
    justify-content: space-around;
    /* margin: 0 auto; */

}

.card-item {
    text-align: center;
}

.card {
    color: #07db40;
}

.card-p {
    font-size: 1rem;
    line-height: 20px;
    color: #dfdddd;
    padding-top: 1.2rem;
    font-weight: 400;
}




.container-card-socal-icon {
    max-width: 1200px;
    margin: 0 auto;
}

.socal-name {
    text-align: center;
    padding-top: 100px;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
}

.main-socal-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 20px;
}
.socal-card-card{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;

}
.socal-padd{
   
}
.cosal-first {
    grid-row: span 2;
}

.cosal-icon2 {
    grid-column: span 2;
}

.cosal-icon3 {
    grid-column: span 2;
}

.cosal-icon4 {
    grid-column: span 2;
}

.socal-card {
    border: none;
    padding: 40px;
    border-radius: 20px;
    background-color: #2A0F4D;
}

.socal-icon-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 0;
}

.socla-menu-name {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #dfdddd;
}

.hello {
    padding-bottom: 160px;
}


.socal-img {
    width: 40px;
    height: 40px;
}

.socal-img {
    width: 40px;
    height: 50px;
}